---
import Layout from '@components/Layout.astro';
import logoFull from '@assets/ui/logo-full.webp';
export const prerender = true;
---
<Layout title="Faelis Paw Artistry — Home">
  <h1>Welcome,</h1>
 <h2 class="content-grid-headline">...and a hearty meow @everyfur! 💜</h2>   <section class="content-grid section">
    <section class="content-card ">
      <div class="content-media">
        <img src={logoFull.src} alt="Faelis Paw Artistry – full logo" />
      </div>
      <div class="prose">
        <p>Hey there, my fellow furballs!<br>
        My name is Faelis Skribblekitty, passionate artistic kitten since 2003.</p>
        <p>Whether you need some logo for your website, 
          a ref-sheet / badge for your fursona, want to bring your kinkiest idea to life in an artistic way or something completely different
           — you found the right artistic kitten for all sorts of creative tasks! </p>
      </div>
    </section>

    <!-- Content Management -->
    <section class="content-card section">
     <div class="prose">    
        <p><b>Interested?</b> <i>... here's a little sneak-peak for you:</i></p>
      </div>  
      <div class="content-media">
        <img src={logoFull.src} alt="Faelis Paw Artistry – full logo" />
      </div>         
      <div class="prose">       
        <p>Wanna see more? <i>... take a look at my <b><a href="/galleries">Art Gallery</a></b></i></p>
        <p>Questions? <i>... feel free to  <b><a href="/contact">Contact Me</a></b></i></p>       
        <h3>Faelis Skribblekitty 💜</h3>           
      </div>
    </section>
  </section>
  <!--div class="content-gap" /-->
  <section class="content-card section">
    <h2>Contact</h2>
    <p>placeholder********</p>
  </section>
</Layout>
