---
export const title = 'Imprint / Impressum';
---

<section class="content-head section">
  <h1>{title}</h1>
  <p><em>In case of any suspected copyright infringement or any other legal claims, you may contact us at:</em></p>
</section>

<section class="content-layout content-layout--split section">
  <section class="content-card">
    <h2>Content Management</h2>
    <p><em>Artworks & Pricing</em></p>
    <dl class="kv">
      <dt>Nickname</dt><dd>Faelis Skribblekitty</dd>
      <dt>Name, Surname</dt><dd>Jungmann, Stephanie</dd>
      <dt>Address</dt><dd>Michaelstr.&nbsp;38, 47055 Duisburg, NRW, Germany</dd>
      <dt>Email</dt><dd><a href="mailto:content@faelis.art">content@faelis.art</a></dd>
    </dl>
  </section>

  <section class="content-card">
    <h2>Site Administration</h2>
    <p><em>Domain & Server Infrastructure</em></p>
    <dl class="kv">
      <dt>Nickname</dt><dd>Lucy Foxx</dd>
      <dt>Name, Surname</dt><dd>Wiese, Julian</dd>
      <dt>Address</dt><dd>Michaelstr.&nbsp;38, 47055 Duisburg, NRW, Germany</dd>
      <dt>Email</dt><dd><a href="mailto:admin@faelis.art">admin@faelis.art</a></dd>
    </dl>
  </section>
</section>

<section class="content-card section">
  <h2>Disclaimer</h2>
  <p>This is a private art website. No liability for external links; operators of linked pages are responsible for their content.<br>
  Prices are subject to change and can change without any further notice.</p>
</section>